*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  min-height: 100vh;
  display: flex;
  background: palegreen;

}

.quote{
  margin: auto;
  width: 100%;
  max-width: 400px;
  min-height: 180px;
  padding: 30px;
  background:rgb(218, 156, 172);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

p{
  color:white;
  word-wrap: break-word;
  font-family:'Times New Roman', Times, serif;
  font-size: 17px;
}

button{
  border:none;
  outline: none;
  margin-right: 12px;
}

.btn{
  background:rgb(23, 124, 116);
  color:white;
  width: 80px;
  border-radius: 6px;
  padding: 13px 0;
  cursor:pointer;
  transition: all 100ms ease-in-out;
}

.btn:hover{
  background-color: rgb(29, 61, 57);
}